extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let Lionid = toShow._id
    - let LionBrand = toShow.Brand
    - let Lioncost = toShow.cost
    - let Lioncolor = toShow.size
    - let actionid = "/resource/Lion/" + Lionid

    script let actionid = "#{actionid}"
    div
      div.row
        div(class='LionAttr mr-3') Lion ID is:
        div(class='newAttr') #{Lionid}
      div.row
        div(class='LionAttr mr-3') Lion Brand is:
        div(class='newAttr') #{LionBrand}
      div.row
        div(class='LionAttr mr-3') Lion cost is:
        div(class='newAttr') #{Lioncost}
      div.row
        div(class='LionAttr mr-3') Lion color is:
        div(class='newAttr') #{Lionsize}
      

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/Lion'
    }
  script.
    function deleteOnid() {
      console.log("Deleting the Resource")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json();   // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/Lion'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }