extends layout

block content

  h1= title
  - let array=[{"Lion_type":"Barbary Lion","size":"large","cost":566},{"Lion_type":"West African","size":"medium","cost":7890},{"Lion_type":"Masai Lion","size":"small","cost":6000}]
  - let items = results
   div(class="container-fluid")
    div(class="row m-1")
     each item in array
      - let destination = `dispatch(\"/fan/update?id=${item._id}\")`
      div(class="col-sm-4",class="m-l") Brand: #{item.Lion_type}
      div(class="col-sm-4",class="m-l") price: #{item.size}
      div(class="col-sm-4",class="m-l") price: #{item.cost}
        button.btn( class="btn-primary ml-1", onclick= destination) Update



   script.
     function dispatch(path){
       window.location.href=path
     }